@media(max-width: 992px){
  .footer {
    position: sticky;
    bottom: 0;
  } 
  
}
.footer {
  height: auto;
  width: 100%;
  background-color: #242526;
}

.footer__row {
  display: flex;
  align-items: center;
  padding: 5px 0;
  justify-content: flex-end;
}

.footer__customFeatureOptions button {
  padding: 5px !important;
  margin: 0 !important;
}

.footer__customFeatureOptions i {
  font-size: 20px;
  padding: 2px !important;
}

.footer__likeBtn {
  font-size: 20px;
  border: 0;
  background: transparent;
  color: #bec2c9;
  border-radius: 50%;
  padding: 10px 12px;
  margin: 0 2px;
}

.footer__likeBtn:hover {
  background-color: #3a3b3c;
}

.footer__likeBtn.hidden {
  opacity: 0;
  z-index: 0;
}
