.message {
  display: flex;
  align-items: center;
  flex-basis: 100%;
  margin: 2px 10px;
}
.userMessage {
  display: flex;
  flex-direction: column;
}
small {
  margin-top:2px;
  color: lightgray;
  font-size: 8px;
}
.message.current .userMessage small {
  text-align: right;
  padding-right: 15px;
}
.messageText {
  max-width: 225px;
}
.message.right {
  justify-content: flex-end;
}
.message.right .userMessage small {
  text-align: left;
  padding-left: 15px;
}

.message.left {
  justify-content: flex-start;
}

.message.current > span {
  order: 2;
}

.message.current > .message_featureOptions {
  order: 1;
}

.message.nextCurrent > span {
  order: 1;
}

.message.nextCurrent > .message_featureOptions {
  order: 2;
}
.message_featureOptions > button:first-child > i {
  padding: 2px 4px;
}

.message_featureOptions > button > i {
  padding: 2px 1px;
}
.message_featureOptions > button:hover {
  background-color: #5f6061;
}

.message_featureOptions {
  display: none;
}
.message:hover > .message_featureOptions {
  display: flex;
}

span {
  padding: 10px 15px;
  color: #fff;
  border-radius: 25px;
  word-wrap: break-word;
  margin: 2px 5px;
}

span.current {
  background: #0084ff;
}

span.nextCurrent {
  background: #3e4042;
}
